.timetable {
  display: flex;
}

.bus-stop {
  flex-grow: 1;
}

.bus-stop__name {
  font-weight: bold;
  margin-left: 100px;
}

.bus-stop__times {
  display: flex;
}

.bus-stop__time {
  flex-grow: 1;
}

.bus-stop__time_departure {
}

.bus-stop__direction {
  margin-left: 100px;
}

.time {
  display: flex;
  padding: 10px 5px 30px 70px;
  margin: 0;
}

.time:nth-child(odd) {
  background-color: rgba(236, 233, 182, 0.45);
}
.time:nth-child(even) {
  background-color: rgba(236, 233, 182, 0.85);
}

.time__hour {
  font-size: 2.3em;
  line-height: 0.9em;
  font-weight: bold;
  width: 1.1em;
  padding: 0 0 0 30px;
}

.time__minutes {
  margin: 0 0 0 5px;
  display: flex;
}

.time__minute {
  flex-grow: 1;
  margin: 0 0 0 10px;
  width: 1em;
}

.time__minute:before {
  content: '.';
  color: lightgray;
}

.time__minute_stub {
}

.time__minute_stub:before {
  content: '';
}
