.menu__item {
  flex-grow: 1;
  text-align: center;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item-link {
  color: navy
}

.menu__item-link:visited {
  color: #3e3e3e
}

@media (max-width: 500px) {
  .menu__item {
    margin: 0 0 .5em 0;
    text-align: left;
  }
}