.b-page {
  background: url("../img/b-page__bg.jpg") no-repeat center top #cecccc;
  margin: 0 auto;
  padding: 0 25px;
  width: 1000px
}

.b-narod-adv {
  margin: 15px auto;
  width: 468px
}

.b-menu-horiz_layout_simple .b-menu-horiz__title {
  display: inline-block;
  margin-right: .4em
}

.b-site-menu {
  margin: 20px 0;
  text-align: center;
  font-family: Arial, Verdana, Geneva, Helvetica, sans-serif
}

.b-site-menu .b-link {
  color: navy
}

.b-site-menu .b-link:visited {
  color: #3e3e3e
}

.b-content {
  margin: 145px auto 0;
  width: 550px
}

.b-text__h1, .b-text__h2 {
  font-size: 1.8em;
  font-weight: 400;
  margin: 1.5em 0 .7em;
  padding: 0
}

.b-text__h3 {
  font-weight: 400;
  padding: 0;
  font-size: 1.6em;
  margin: 1em 0 .5em
}

.b-text__h4 {
  font-size: 1.4em;
  font-weight: 400;
  margin: .6em 0 .5em;
  padding: 0
}

.b-text__p {
  margin: 0 0 .8em;
  line-height: 1.4em
}

.b-text__pre, .b-text__tt {
  font: 100% Monaco, Consolas, "Courier New", monospace
}

.b-text__pre {
  margin: 0 0 .8em
}

.b-text__ul, .b-text__ol {
  margin: 0 0 1em;
  padding: 0
}

.b-text__li {
  margin: 0 .2em .3em 2.5em;
  padding: 0
}

.b-text__ol .b-text__li {
  list-style: decimal
}

.b-text__ul .b-text__li {
  list-style: disc
}

.b-text {
  line-height: 1.4em
}

.b-map_api_dynamic {
  position: relative;
  overflow: hidden;
  border: 0
}

.b-map_api_dynamic .b-map__static-map {
  width: 100%;
  height: 200px
}

.b-map_api_dynamic .b-map__map {
  width: 100%;
  height: 400px;
  visibility: hidden
}

.b-map_api_dynamic .ymaps-events-pane {
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7) inset;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7) inset;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7) inset
}

.b-map_api_dynamic .ymaps-map {
  background: #dddddd
}

.b-map__static-link {
  display: block;
  width: 740px;
  border: 0
}

.b-map__static-link, .b-map__static-map:before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 200px
}

.b-map__static-map:before {
  width: 100%;
  content: "";
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7) inset;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7) inset;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7) inset
}

.b-map__controls {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  display: none;
  width: 25px;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 3px;
  text-align: center
}

.b-map__zoomin, .b-map__zoomout, .b-map__userlocation {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none
}

.b-map__controls .b-form-button__content {
  padding: 0
}

.b-map__control-icon {
  position: relative;
  top: 5px;
  width: 15px;
  height: 15px;
  background: url("../../project.blocks/b-map/_api/b-map__controls.png") no-repeat
}

.b-map__control-icon_type_zoomin {
  background-position: 0 0
}

.b-map__control-icon_type_zoomout {
  background-position: -26px 0
}

.b-map__control-icon_type_userlocation {
  background-position: 0 -26px
}

.b-map__controls .b-spin {
  margin: 2px 3px
}

.b-map__spin-pane {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  width: 30px;
  height: 50px;
  background: #000000;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 3px
}

.b-map__spin-pane .b-spin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 27px;
  height: 27px
}

.b-map__static-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 740px;
  height: 320px;
  border: 0
}

.b-map__goto-map {
  position: absolute;
  right: 9px;
  top: 7px;
  display: none
}

.b-map__goto-map-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 7px;
  background: url("../../project.blocks/b-map/_api/b-map__goto-map-icon.png") no-repeat
}

.i-geo-point {
  position: absolute;
  top: -40px;
  left: -10px;
  display: block;
  width: 37px;
  height: 42px;
  background-image: url("../../project.blocks/i-geo-point/i-geo-point.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  text-decoration: none
}

.i-geo-point:hover, .i-geo-point_hovered_yes {
  background-position: -41px 0
}

.i-geo-point_type_adv {
  background-position: -85px 0
}

.i-geo-point_type_adv:hover, .i-geo-point_type_adv.i-geo-point_hovered_yes {
  background-position: -126px 0
}

.i-geo-point_type_single {
  background-position: 0 -49px
}

.i-geo-point_type_single:hover, .i-geo-point_type_single.i-geo-point_hovered_yes {
  background-position: -41px -49px
}

.i-geo-point_type_ya {
  top: -12px;
  left: -12px;
  width: 24px;
  height: 24px
}

.i-geo-point_type_ya, .i-geo-point_type_ya:hover, .i-geo-point_type_ya.i-geo-point_hovered_yes {
  background-position: -84px -50px
}

.i-geo-point__cont {
  font-size: 13px;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 16px;
  height: 13px;
  text-align: center;
  text-decoration: none;
  color: #000000
}

.b-openstreetmap {
  margin: 25px 0
}

.b-footer {
  text-align: center;
  margin: 45px 0 0
}

.b-counters__item {
  display: inline-block;
  margin: 0 10px 0 0
}

.b-link-list__term {
  font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
  margin: 0 0 5px
}

.b-link-list__description {
  margin: 0 0 15px
}
