html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}

body {
  background-color: #fcfcf8;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

main {
  margin: 30px 0;
}

.page__header {
  font-family: sans-serif;
  font-size: 2em;
  margin: 2em 0;
}

.footer {
  text-align: center;
  margin: 45px 0;
  display: flex;
  justify-content: center;
}

.footer a {
  color: navy;
  font-size: .9em;
}

.footer__item {
  margin-right: 15px;
}

.footer__item:last-child {
  margin-right: 0;
}

.vkVidget {
  margin: 50px 0 0 0;
  min-width: 800px;
}
