html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}

body {
  background-color: hsla(57, 59%, 82%, .45);
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
