.menu {
  display: flex;
}

@media (max-width: 500px) {
  .menu {
    flex-direction: column;
    margin: 0 auto;
    max-width: 50vw;
  }
}

.item {
  flex-grow: 1;
  text-align: center;
}

.item:last-child {
  margin-right: 0;
}

.itemLink {
  color: navy
}


.itemLink:visited {
  color: #3e3e3e
}

@media (max-width: 500px) {
  .item {
    margin: 0 0 .5em 0;
    text-align: left;
  }
}
